extends layout

block content
	.container.container_nav
		.row
			form(method='post', action='contact/send')
				.col-sm-8.col-sm-offset-2
					h3 Contact Us 
					h4	Name
					input.form-control
					h4	Email
					input.form-control
					h4	Mobile Number
					input.form-control
					h4	Message
					textarea.form-control
					.btn.btn-primary(type='submit') Submit


			