extends layout

block content
	.container.container_nav
		.row
			form(method='post', action='contactUs/send')
				.col-sm-8.col-sm-offset-2
					h3 Contact Us 
					.form-group
						h4	Name
						input.form-control(type="text", name='name', placeholder="Enter Name")
					.form-group
						h4	Email
						input.form-control(type="email", name='email', placeholder="Enter Email")
					.form-group
						h4	Message
						input.form-control(type="text", name='msg', placeholder="Enter msg")
					.btn.btn-primary(type='submit') Submit


			